* {
    margin: 0;
    padding: 0;
}

html {
    --buttonColor: #FF3F40;
    --basicColor: #FFFFFF;
    font-size: 12px;
    /*1 rem */
}

:root {
    --font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 1250px / 2);
    padding-right: calc(50% - 1250px / 2);
}

.fa-solid {
    display: none !important;
}

.top {
    background: #F6F2F2;
    padding-top: 29px;
    padding-bottom: 110px;
}

.top__text {
    width: 544px;
    margin-top: 36px;
    margin-bottom: 64px;
}

.text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15.9953px;
    line-height: 28px;
    display: flex;
    color: #000000;
    justify-content: center;
}

.button {
    width: 226.64px;
    height: 55px;
    background: var(--buttonColor);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18.0412px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.32px;
    border-radius: 4px 4px;
    color: var(--basicColor);
    justify-content: center;
}

.button:hover {
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.2);
}

.top__info {
    width: 617px;
}

.title {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    font-size: clamp(34px, 5vw, 5rem);
    line-height: 72px;
}

.top__video {
    width: 553px;
    height: 359px;
}

.header {
    background-color: #000;
}

.menu {
    list-style-type: none;
    /*убрали точки сбоку*/
    display: flex;
    justify-content: center;

}

.menu__link {
    font-style: normal;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.49px;
    text-transform: uppercase;
    color: #E0E0E0;
    padding: 38px 23px 26px;
}

.menu__link:hover {
    background: var(--buttonColor);
}

.menu__link__active {
    background: var(--buttonColor);
}

.top__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 101px 10px 0 10px;

}

.service__block {
    padding-top: 108px;
    padding-bottom: 98px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 52px 20px;
    border-bottom: 5px solid #ececec;
}

.service__button {
    width: 226.64px;
    height: 55px;
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid var(--buttonColor);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18.0412px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.32px;
    border-radius: 4px 4px;
    color: var(--buttonColor);
    justify-content: center;
}

.service__content {
    grid-column: span 2;
    grid-row: span 2;
    max-width: 538px;
}

.service,
.products,
.meet {
    max-width: 1249px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 55px;
    letter-spacing: 0.422159px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 28px;
}

.service__text {
    margin-top: 50px;
    margin-bottom: 61px;
}

.article {
    margin-top: 31px;
    margin-bottom: 12px;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    font-size: clamp(1rem, 2vw, 2rem);
    letter-spacing: 0.271838px;
    color: #000000;
}

.service__img {
    transition: transform 2s;
}

.service__item:hover .service__img {
    transform: rotate(360deg);
}

.service__item:hover .auto__pencil {
    transform: translate(12px, 0);
}

.section__products {
    margin-top: 121px;
    grid-template-columns: repeat(4, 1fr);
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 17px 17px;
    margin: 57px 0 115px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product {
    border: 1px solid #313030;
}

.products__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 537px;
    max-width: 100%;
    margin: 0px auto 85px;
    text-align: center;
}

.products__link__active {
    color: var(--buttonColor);
}

.products__link:hover {
    color: var(--buttonColor);
}

.article__menu {
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
}

.line {
    width: 134px;
    height: 4px;
    background-color: var(--buttonColor);
    margin-top: 33px;
}

.personal {
    width: 503px;
    max-width: 100%;
    margin-left: 201px;
    grid-template-columns: repeat(4, 1fr)
}

.contacts {
    display: grid;
    gap: 17px;
    margin-top: 68px;
    width: 191.7px;
    height: 216.08px;
    grid-template-columns: repeat(4, 1fr);
    background: var(--buttonColor);
}

.meet {
    margin-top: 132px;
    padding-bottom: 115px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}

.meet__line {
    width: 132px;
    height: 5px;
    background-color: var(--buttonColor);
}

.meet__heading {
    margin-bottom: 29px;
    margin-top: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 0px;
    letter-spacing: 0.275265px;
    text-transform: uppercase;
    color: #000000;
}

.meet__content {
    margin-top: 66px;
    display: flex;
    gap: 73px;
}

.meet__link {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.9px;
    color: #000000;
}

.meet__links {
    display: flex;
    gap: 28px;
    margin-top: 45px;
    flex-wrap: wrap;
}

.meet__link:hover {
    text-decoration: underline;
}

.meet__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meet__peoples {
    display: flex;
    gap: 15px;
    margin-top: 58px;
    flex-wrap: wrap;
}

.meet__people {
    display: flex;
    position: relative;
    overflow: hidden;
}

.meet__people:hover .meet__name-box {
    left: 0;
}

.meet__person{
    height: 447px;
}

.meet__person-name {
    font-style: italic;
    font-weight: 600;
    font-size: 18.0762px;
    letter-spacing: 0.165159px;
    text-transform: uppercase;
    color: var(--basicColor);
    text-align: center;
}

.meet__name-box {
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: left .3s;
}

.text_small {
    max-width: 650px;
}

.text_big {
    width: 450px;
}

.text_reverse {
    color: var(--basicColor);
}

.meet__text {
    margin-top: 34px;
    margin-bottom: 37px;
}

.subscribe {
    padding-top: 151px;
    padding-bottom: 140px;
    background: #2d2d2d;
    text-align: center;
}

.subscribe__text {
    margin-top: 16px;
    margin-bottom: 56px;
}

.subscribe__input {
    width: 524px;
    height: 82px;
    background-color: var(--basicColor);
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2C2C2C;
    padding-left: 36px;
    padding-right: 36px;
    box-sizing: border-box;
}

.subscribe__form {
    display: flex;
    gap: 22px;
    justify-content: center;
    align-items: stretch;
    /*Алексей: "если убрать то ничего не изменится, стрейч по умолчанию"*/
}

.subscribe__button {
    padding-left: 56px;
    padding-right: 56px;
    background: var(--buttonColor);
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17.9026px;
    line-height: 34px;
    letter-spacing: 0.317046px;
    text-transform: uppercase;
    color: var(--basicColor);
    border: none;
    transition: all .3s;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.subscribe__button:hover {
    background-color: #FFF;
    color: var(--buttonColor);
    border: 2px solid var(--buttonColor);
}

.heading_reverse {
    color: var(--basicColor);
    text-transform: none;
}

.text_width_750 {
    max-width: 750px;
}

.get {
    padding-top: 104px;
    padding-bottom: 107px;
    padding-left: 1vw;
}

.get__text {
    margin-top: 45px;
    margin-bottom: 58px;
}

.get__form {
    width: 734px;
    display: grid;
    grid-column-gap: 52px;
    grid-row-gap: 43px;
    grid-template-columns: repeat(2, 1fr);
}

.get__input {
    height: 69px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15.9134px;
    line-height: 28px;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
}

.get__input-textarea {
    height: 252px;
    padding-top: 32px;
    padding-bottom: 32px;
    resize: none;
    grid-column: 1 / -1;
}

.get__button {
    background: var(--buttonColor);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.317046px;
    text-transform: uppercase;
    color: var(--basicColor);
    border-radius: 6px;
    border: none;
    height: 75px;
    grid-column: 1 / -1;
    border: 2px solid transparent;
    transition: all .3s;
}

.get__button:hover {
    color: var(--buttonColor);
    background-color: var(--basicColor);
    border: 2px solid var(--buttonColor);
}

.get__content {
    display: flex;
    padding-top: 74px;
    gap: 104px;
    flex-wrap: wrap;
}

.get__contacts {
    background: #2D2D2D;
    padding-left: 81px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
}

.get__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.317046px;
    text-transform: uppercase;
    color: var(--basicColor);
    margin-bottom: 12px;
}

.get__contact-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--basicColor);
    width: 315px;
    transition: 0.2s;
}

.footer {
    padding-top: 47px;
    padding-bottom: 31px;
    background: #313030;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__box {
    display: flex;
    gap: 18px;
}

.footer__icon {
    background-color: var(--basicColor);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: all .3s;
}

.footer__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B8B8B8;
}

.text-active:hover {
    color: var(--buttonColor);
}

.footer__icon:hover {
    background-color: var(--buttonColor);
}

path {
    transition: all .3s;
}

.footer__icon:hover path {
    fill: var(--basicColor);
}

@media (max-width: 1024px) {

    .top {
        padding-top: 30px;
    }

    .products {
        justify-items: center;
    }

    .get__contacts {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .get__content {
        gap: 32px;
    }

    .get {
        padding-bottom: 32px;
    }

}

@media (max-width: 768px) {

    .center,
    .products {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .top {
        position: relative;
    }

    .fa-solid {
        display: var(--fa-display, inline-block) !important;
    }

    .fa-bars {
        margin-right: 32px;
    }

    .fa-xmark {
        position: absolute;
        top: 32px;
        right: 32px;
    }

    .header {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 32px;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }

    .menu__link__active {
        background: none;
    }

    .menu {
        flex-direction: column;
    }

    .nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        transition: left .5s;
        background-color: #000;
    }

    .title {
        line-height: 42px;
        text-align: center;
    }

    .text {
        font-size: 14px;
    }

    .top__content {
        padding-top: 60px;
    }

    .top__text {
        width: 100%;
    }

    .button {
        margin-bottom: 20px;
    }

    .top__video {
        width: 100%;
        height: 100%;
    }

    .top__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 101px;
    }

    .service__block {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }

    .service__text {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .heading {
        font-size: 32px;
        text-align: center;
    }

    .article {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .article__menu {
        gap: 32px;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .meet__info {
        align-items: center;
    }
    .meet__content {
        flex-direction: column;
        align-items: center;
    }

    .meet__text {
        width: 100%;
    }

    .meet__peoples {
        gap: 11px;
        margin-top: 58px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .meet__people {
        width: 156px;
        height: 175px;
    }

    .meet {
        padding-bottom: 60px;
    }

    .subscribe__form {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }

    .subscribe__input,
    .subscribe__button {
        width: 100%;
        height: 62px;
    }

    .get__text {
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
    }

    .get__form {
        width: 100%;
        grid-row-gap: 24px;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
    }

    .get__contacts {
        padding-left: 32px;
        padding-right: 32px;
    }

    .get__line {
        margin-left: 16px;
    }

    .footer {
        flex-direction: column-reverse;
        gap: 16px;
        padding-top: 47px;
        padding-bottom: 31px;
    }

}